.header {
    background-color: $red;
    margin-bottom: 50px;

    .header__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 5px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-content: center center;
        align-items: center;

        .header__column {
            i {
                color: #fff;
                font-size: 35px;
            }

            &:nth-child(2) {
                width: 100%;
                justify-content: center;
            }

            &:last-child {
                justify-self: end;
            }

            ul {
                display: flex;
                font-size: 15px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
            }

            li:not(:last-child) {
                margin-right: 15px;
            }

            form {
                width: 100%;

                input {
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    color: $black;

                    &::placeholder {
                        font-weight: 300;
                        color: rgba(0, 0, 0, .3);
                    }
                }
            }
        }
    }
}